:root{
    --default-print-color: white;
    --main-color-1 : #8CEAED;
    --main-color-2 : #9DB0B0;
    --main-color-3 : #5F9EA0FF;
    --main-color-4 : #D3ECED;
    --main-color-5 : #416C6E;
    --lecture-color: #BA8677;
    --lab-color: #E3B7B3;
    --physical-color: #ACB094;
    --border-radius : 0.5rem;
    --horizontal-li-border-radius : 1rem;
}

@font-face {
    font-family: "Onest";
    src: url("../fonts/Onest-VariableFont_wght.ttf");
}
/* Universal definitions start here */
body{
    background-color: var(--main-color-4);
    font-family: Onest, serif;
    background-image: url("../images/circuit-background-desktop.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

header{
    border-radius: var(--border-radius);
    background-color: var(--main-color-3);
    padding: 10px 20px;
    text-align: center;
}

.page-title{
    float: left;
    margin-top: 6px;
}

.page-title>a{
    text-decoration: none;
    color: var(--default-print-color);
}

.main-nav {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav>li {
    display: flex;
    justify-content: center;
    border-radius: var(--horizontal-li-border-radius);
}

.main-nav>li>a {
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    color: var(--default-print-color);
}

.main-nav>li:hover {
    background-color: var(--main-color-5);
    background-clip: border-box;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--main-color-5);
    color: var(--default-print-color);
    text-align: center;
}

.page-content{
    margin: 2.5%;
    padding: 10px;
    background-color: var(--main-color-4);
    overflow: auto;
}
/* Universal definitions end here */

/* Definitions for use at "O mne" start here */
.index-portrait{
    float: left;
    margin: auto;
    padding: 20px;
    max-width: 100%;
    height: auto;
    width: auto;
}

.article-text{
    margin: 10px;
}

.article-text>aside{
    float: right;
    background-color: var(--main-color-2);
    max-width: 25%;
    padding: 10px;
}

.article-text>aside>p{
    margin: 0;
}

abbr{
    text-decoration: none;
}

article::after {
    clear: both;
    content: "";
    display: block;
}

.article-text::after {
    clear: both;
    content: "";
    display: block;
}
/* Definitions for use at "O mne" end here */

/* Definitions for use at "Zivotopis" start here */
.cv-page-content{
    background-color: transparent;
}

.cv-container{
    display: flex;
    justify-content: center;
}

.cv-left{
    background-color: var(--main-color-5);
    margin: 10px;
    padding: 10px;
    color: var(--default-print-color);
    border-radius: var(--border-radius);
}

.cv-right{
    background-color: var(--main-color-2);
    margin: 10px;
    padding: 10px;
    border-radius: var(--border-radius);
}

.cv-portrait{
    max-width: 100%;
    height: auto;
    width: auto;
}

/* https://www.w3schools.com/howto/howto_css_skill_bar.asp */
.skills-container{
    width: 100%;
    background-color: var(--main-color-4);
}

.skills {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: var(--main-color-3);
}

.html{
    width: 60%;
}

.css{
    width: 30%;
}

.c{
    width: 60%;
}

.cpp{
    width: 40%;
}

.skill-title{
    margin: 0;
}

.heading-title{
    margin-bottom: 0;
    font-size: 30px;
}

.subheading-title{
    margin-top: 0;
    font-size: 15px;
}

.formatted-list{
    list-style: none;
}

.formatted-list>li{
    display: flex;
    justify-content: space-between;
}

.formatted-list>li:nth-child(odd){
    background-color: var(--main-color-3);
}

.formatted-list-left{
    margin-right: 10px;
}
/* Definitions for use at "Zivotopis" end here */

/* Definitions for use at "Rozvrh" start here */

.timetable{
    background-color: var(--main-color-5);
    width: 100%;
    text-align: center;
    border-spacing: 0;
}

.timetable th{
    background-color: var(--main-color-5);
    color: var(--default-print-color);
    padding: 10px;
}

.timetable td{
    padding: 5px;
}

.timetable>tbody>tr:nth-child(odd){
    background-color: var(--main-color-3);
}

.timetable>tbody>tr:nth-child(even){
    background-color: var(--main-color-2);
}

.lecture{
    background-color: var(--lecture-color);
}

.lab{
    background-color: var(--lab-color);
}

.physical{
    background-color: var(--physical-color);
}

.dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}
/* Definitions for use at "Rozvrh" end here */

/* Definitions for use at "Obrazok" start here */
.interactive-image-container{
    display: block;
    height: auto;
}

.interactive-image{
    position: relative;
    width: 100%;
    height: 100%;
}

.box{
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--main-color-4);
    transition: background-color 1s;
}

.box>a{
    text-decoration: none;
    text-align: center;
    color: var(--default-print-color);
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s;
}

.box:hover{
    padding: 1px;
    width: max-content;
    height: max-content;
    z-index: 10;
    background-color: var(--main-color-5);
    border-radius: var(--border-radius);
}

.box:hover>a{
    padding: 5px;
    visibility: visible;
    opacity: 1;
}

@media screen and (min-width: 1090px){
    .interactive-image-container{
        width: 1000px;
    }

    .display-port{
        left: 340px;
        top: 460px;
    }

    .ps2-port{
        left: 210px;
        top: 400px;
    }

    .usb-port{
        left: 210px;
        top: 470px;
    }

    .hdmi-port{
        left: 340px;
        top: 530px;
    }

    .usb-c-port{
        left: 480px;
        top: 530px;
    }

    .ethernet-port{
        left: 590px;
        top: 400px;
    }

    .aux-port{
        left: 830px;
        top: 400px;
    }

    .optical-port{
        left: 820px;
        top: 520px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1090px){
    .interactive-image-container{
        width: 620px;
    }

    .display-port{
        left: 220px;
        top: 350px;
    }

    .ps2-port{
        left: 130px;
        top: 295px;
    }

    .usb-port{
        left: 135px;
        top: 350px;
    }

    .hdmi-port{
        left: 220px;
        top: 380px;
    }

    .usb-c-port{
        left: 290px;
        top: 385px;
    }

    .ethernet-port{
        left: 370px;
        top: 310px;
    }

    .aux-port{
        left: 520px;
        top: 300px;
    }

    .optical-port{
        left: 510px;
        top: 380px;
    }
}

@media screen and (max-width: 700px){
    .interactive-image-container{
        width: 400px;
    }

    .box{
        height: 10px;
        width: 10px;
    }

    .display-port{
        left: 150px;
        top: 555px;
    }

    .ps2-port{
        left: 100px;
        top: 535px;
    }

    .usb-port{
        left: 100px;
        top: 560px;
    }

    .hdmi-port{
        left: 150px;
        top: 580px;
    }

    .usb-c-port{
        left: 195px;
        top: 580px;
    }

    .ethernet-port{
        left: 245px;
        top: 535px;
    }

    .aux-port{
        left: 345px;
        top: 530px;
    }

    .optical-port{
        left: 335px;
        top: 580px;
    }
}
/* Definitions for use at "Obrazok" end here */

/* Universal definitions start here */
@media screen and (max-width: 700px) {

    body{
        background-image: url("../images/circuit-background-mobile.jpg");
    }

    header{
        padding-left: 0;
        padding-right: 0;
    }

    .page-title{
        width: 100%;
        float: none;
    }

    .main-nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-nav>li{
        width: 100%;
        border-radius: var(--border-radius);
    }

    .main-nav>li>a{
        width: 100%;
        height: 100%;
    }
    /* Universal definitions stop here */

    /* Definitions for use at "O mne" start here */
    .article-text>aside{
        max-width: 100px;
    }
    /* Definitions for use at "O mne" end here */

    /* Definitions for use at "Zivotopis" start here */
    .cv-container{
        flex-direction: column;
        justify-content: initial;
    }
    /* Definitions for use at "Zivotopis" end here */
}