:root{
    --default-print-color: white;
    --main-color-1 : #8CEAED;
    --main-color-2 : #9DB0B0;
    --main-color-3 : #5F9EA0FF;
    --main-color-4 : #D3ECED;
    --main-color-5 : #416C6E;
    --border-radius : 0.5rem;
    --horizontal-li-border-radius : 1rem;
}

@font-face {
    font-family: "Onest";
    src: url("../fonts/Onest-VariableFont_wght.ttf");
}
/* Universal definitions start here */
body{
    background-color: var(--main-color-4);
    font-family: Onest, serif;
    background-image: url("../images/circuit-background-desktop.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

header{
    border-radius: var(--border-radius);
    background-color: var(--main-color-3);
    padding: 10px 20px;
    text-align: center;
}

.page-title{
    float: left;
    margin-top: 6px;
}

.page-title>a{
    text-decoration: none;
    text-underline: none;
    color: var(--default-print-color);
}

.main-nav {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav>li {
    display: flex;
    justify-content: center;
    border-radius: var(--horizontal-li-border-radius);
}

.main-nav>li>a {
    text-align: center;
    text-decoration: none;
    text-underline: none;
    padding: 1rem;
    color: var(--default-print-color);
}

.main-nav>li:hover {
    background-color: var(--main-color-5);
    background-clip: border-box;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--main-color-5);
    color: var(--default-print-color);
    text-align: center;
}

.page-content{
    margin: 10px;
    padding: 10px;
    background-color: var(--main-color-4);
    overflow: auto;
}
/* Universal definitions end here */

/* Definitions for use at "O mne" start here */
.index-portrait{
    float: left;
    margin: auto;
    padding: 20px;
    max-width: 100%;
    height: auto;
    width: auto;
}

.article-text{
    margin: 10px;
}

.article-text>aside{
    float: right;
    background-color: var(--main-color-2);
    max-width: 25%;
    padding: 10px;
}

.article-text>aside>p{
    margin: 0;
}

abbr{
    text-decoration: none;
    text-underline: none;
}

article::after {
    clear: both;
    content: "";
    display: block;
}

.article-text::after {
    clear: both;
    content: "";
    display: block;
}
/* Definitions for use at "O mne" end here */

/* Definitions for use at "Zivotopis" start here */
.cv-container{
    display: flex;
    justify-content: center;
}

.cv-left{
    background-color: var(--main-color-5);
    margin: 10px;
    padding: 10px;
    color: var(--default-print-color);
}

.cv-right{
    background-color: var(--main-color-2);
    margin: 10px;
    padding: 10px;
}

/* https://www.w3schools.com/howto/howto_css_skill_bar.asp */
.skills-container{
    width: 100%;
    background-color: var(--main-color-4);
}

.skills {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: var(--main-color-3);
}

.html{
    width: 60%;
}

.css{
    width: 30%;
}

.c{
    width: 60%;
}

.cpp{
    width: 40%;
}

.skill-title{
    margin: 0;
}

.heading-title{
    margin-bottom: 0;
    font-size: 30px;
}

.subheading-title{
    margin-top: 0;
    font-size: 15px;
}

.formatted-list{
    list-style: none;
}

.formatted-list>li{
    display: flex;
    justify-content: space-between;
}

.formatted-list>li:nth-child(odd){
    background-color: var(--main-color-3);
}

.formatted-list-left{
    margin-right: 10px;
}
/* Definitions for use at "Zivotopis" end here */

@media screen and (max-width: 600px) {
    /* Universal definitions start here */
    body{
        background-image: url("../images/circuit-background-mobile.jpg");
    }

    header{
        padding-left: 0;
        padding-right: 0;
    }

    .page-title{
        width: 100%;
        float: none;
    }

    .main-nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-nav>li{
        width: 100%;
        border-radius: var(--border-radius);
    }

    .main-nav>li>a{
        width: 100%;
        height: 100%;
    }
    /* Universal definitions stop here */

    /* Definitions for use at "O mne" start here */
    .article-text>aside{
        float: right;
        max-width: none;
    }
    /* Definitions for use at "O mne" end here */

    /* Definitions for use at "Zivotopis" start here */
    .cv-container{
        flex-direction: column;
        justify-content: initial;
    }
    /* Definitions for use at "Zivotopis" end here */
}